<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link href="/style.css" rel="stylesheet" />
	</head>
	<body>
		<h1>About page:</h1>

		<p class="card">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit natus
			provident, alias culpa pariatur iure adipisci et enim ab officiis ratione
			nisi odit illo labore recusandae? Repellat nobis necessitatibus
			repudiandae.
		</p>

		<img src="/images/pastries.png" alt="No pasties today" />
	</body>
</html>
